<h1>Sports List</h1>

<div ng-app="app">
	<div ng-controller="sportsCtrl">
	<button ng-click="changeOrder('name')">Sort By Name</button>
	<button ng-click="changeOrder('players')">Sort By Players</button>

	<label>Search:</label>
	<input ng-model="sportFilter">
			<table>
				<tr>
					<th>Sport</th>
					<th>Players</th>
					<th>Court</th>
				</tr>

			<tr ng-repeat="sport in sports | filter: { name: sportFilter } | orderBy:orderAttribute:sortDirection">
					<td>{{ sport.name }}</td>
					<td>{{ sport.players }}</td>
					<td>{{ sport.court }}</td>
			</tr>
			</div>
		</table>
		
	<h2> Add a New Sport </h2>
		<div ng-if="errors">
			<p> Hey Man I need More Info </p>
		</div>

		<label>Sport Name:</label>
    	<input ng-model="sportTitle">
    <label>Court:</label>
    	<input type="textarea" ng-model="sportCourt">
    <label>Players</label>
    	<input ng-model="sportPlayers">
    <button ng-click="addSport(sportTitle, sportCourt, sportPlayers)">Add Sport</button>

		<p>Total Sports: </p>
</div>